rules_version = '2';
service cloud.firestore {
  function isAllowedAdmin() {
    return request.auth != null && (
      request.auth.token.admin == true ||
      request.auth.token.email in [
        'schenetti.2269755@studenti.uniroma1.it',
        'francesco.gazzillo@uniroma1.it'
      ]
    );
  }

  match /databases/{database}/documents {
    match /responses/{doc} {
      allow create, update: if true;
      allow read: if isAllowedAdmin();
      allow delete: if false;
    }
  }
}
